
.header {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.left, .right {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.header-logo {
    font-size: 24px;
}

.awesome-content {
    display: flex;
    justify-content: center;
}

.awesome, .content {
    display: flex;
    width: 400px;
}

.awesome {
    flex-flow: column;
    gap: 16px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}