
.header {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.left, .right {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.header-logo {
    font-size: 24px;
}

.awesome-content {
    display: flex;
    justify-content: center;
}

.awesome, .content {
    display: flex;
    width: 400px;
}

.awesome {
    flex-flow: column;
    gap: 16px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parttwo {
    display: flex;
    flex-flow: column;
}

.random {
    align-self: center;
}

.fours {
    display: flex;
    justify-content: center;
    gap: 44px;
}

.one {
    display: flex;
    flex-flow: column;
    max-width: 200px;
}

.two, .three, .four {
    display: flex;
    flex-flow: column;
    max-width: 200px;
}
.partthree {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}
.quote-quoter {
    display: flex;
    flex-flow: column;
    width: 400px;
    height: 200px;
}
.quote {
    display: flex;
}
.quoter {
    display: flex;
    align-self: last baseline;
}
ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

